torch>=1.7.0
torchvision>=0.8.0
numpy>=1.19.2
Pillow>=8.0.0
matplotlib>=3.3.3
tqdm>=4.56.0
albumentations>=1.0.0
opencv-python>=4.5.1
segmentation-models-pytorch>=0.2.0
peft>=0.2.0
requests>=2.25.1
scikit-image>=0.18.1
pycocotools>=2.0.2
jupyter>=1.0.0
ipykernel>=6.0.0 